extends layout

block content
	h1= title
	a(href="add-products") Tambah
	table
		thead
			th Name Products
			th Price
			th Category
			th Edit
			th Hapus
			tbody
				for products, index in data
					tr
						td #{products.name}
						td #{products.price}
						td #{products.category}
						td
							a(href="/products-edit/"+products.id) Edit
							td
								a(href="/delete/"+products.id) Hapus
