extends layout

block content

  h1 Welcome to #{title}
  a(href='tambah-produk',type='button') Tambah Produk
  table
    thead
      th Nama 
      th Price
      th Category
      tbody
        for produk, index in data
          tr
            td #{produk.name}
            td #{produk.price}
            td #{produk.category}

