extends layout

block content

  h1 #{title}

    .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Produk 

        //form
        form(method='POST' action='/produk')
          div.form-group
            label(for='name') Nama:
            .br
            input#name.form-control(type='text', placeholder='Nama' name='name')
            
          div.form-group
            label(for='price') Price:
            .br
            input#price.form-control(type='price', placeholder='Price' name='price')
            

          div.form-group
            label(for='category') Category:
            .br
            input#category.form-control(type='text', placeholder='Category' name='category')
            
            .br
            .br
          button.btn.btn-primary(type='submit') Submit
