extends layout

block content

        h1 #{title} 
        //form
        form(method='POST' action='/proses-tambah-produk')
          div
            label(for='name') Nama Produk:
            .br
            input#name.form-control(type='text', placeholder='Isi Nama' name='name' autocomplete='off')
          div
            label(for='price') Price:
            .br
            input#price.form-control(type='price', placeholder='Isi Price' name='price' autocomplete='off')
          div
            label(for='category') Category:
            .br
            input#category.form-control(type='text', placeholder='Isi Category' name='category' autocomplete='off')
            p
          button.btn.btn-primary(type='submit') Submit
