extends layout

block content
 h1= title
 form
  label Nama Produk : 
  input#nama_produk
  
  label 
  label Harga Produk : 
  input#harga_produk

  label 
  label Kategori Produk : 
  input#kategori_produk
  
  label 
  button#submit_produk  Submit
